body {
    font-family: 'Noto Sans Bengali', sans-serif;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
